@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 151 48% 100%;
		--foreground: 151 67% 4%;
		--muted: 151 24% 87%;
		--muted-foreground: 151 15% 32%;
		--popover: 0 0% 99%;
		--popover-foreground: 151 67% 3%;
		--card: 0 0% 99%;
		--card-foreground: 151 67% 3%;
		--border: 151 12% 91%;
		--input: 151 12% 91%;
		--primary: 151 80% 42%;
		--primary-foreground: 151 80% 2%;
		--secondary: 151 14% 88%;
		--secondary-foreground: 151 14% 28%;
		--accent: 151 22% 81%;
		--accent-foreground: 151 22% 21%;
		--destructive: 11 93% 29%;
		--destructive-foreground: 11 93% 89%;
		--ring: 151 80% 42%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 151 34% 3%;
		--foreground: 151 36% 100%;
		--muted: 151 24% 13%;
		--muted-foreground: 151 15% 68%;
		--popover: 151 34% 4%;
		--popover-foreground: 0 0% 100%;
		--card: 151 34% 4%;
		--card-foreground: 0 0% 100%;
		--border: 151 12% 13%;
		--input: 151 12% 13%;
		--primary: 151 80% 42%;
		--primary-foreground: 151 80% 2%;
		--secondary: 151 8% 8%;
		--secondary-foreground: 151 8% 68%;
		--accent: 151 13% 14%;
		--accent-foreground: 151 13% 74%;
		--destructive: 11 93% 48%;
		--destructive-foreground: 0 0% 100%;
		--ring: 151 80% 42%;
	}
}

@layer base {
	html {
		@apply h-full;
	}
	* {
		@apply border-border;
	}
	body {
		@apply bg-background/40 text-foreground;
	}
}

.nav-link {
	@apply rounded-md px-6 py-2 hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none;
}

/* Post styles */

.prose .anchor {
	@apply absolute invisible no-underline;

	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

.anchor:hover {
	@apply visible;
}

.prose a {
	@apply transition-all text-primary duration-200 no-underline;
}

.prose .anchor:after {
	@apply text-neutral-300 dark:text-neutral-700;
	content: "#";
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose pre {
	@apply border border-neutral-800;
}

.prose code {
	@apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono border font-semibold;
}

.prose pre code {
	@apply bg-transparent;
	border: initial;
}

.prose img {
	/* Don't apply styles to next/image */
	@apply m-0;
}

.prose code::after,
.prose code::before {
	content: "";
}

.prose > :first-child {
	/* Override removing top margin, causing layout shift */
	margin-top: 1.25em !important;
	margin-bottom: 1.25em !important;
}

code[class*="language-"],
pre[class*="language-"] {
	@apply text-neutral-50;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.prose .tweet a {
	text-decoration: inherit;
	font-weight: inherit;
}

.prose .callout > p {
	margin: 0 !important;
}

[data-rehype-pretty-code-figure] code {
	@apply grid min-w-full break-words rounded-none border-0 bg-transparent text-[13px] leading-6 text-foreground  p-0;
	counter-reset: line;
	box-decoration-break: clone;
}
[data-rehype-pretty-code-figure] [data-line] {
	@apply py-1 border-transparent border-l-transparent border-l-4 pl-1 pr-3;
}
[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	text-align: right;
	@apply text-muted-foreground mr-3;
}
[data-rehype-pretty-code-figure] .line--highlighted {
	@apply bg-primary/20 border-l-4 border-primary;
}
[data-rehype-pretty-code-figure] :nth-child(1 of .line--highlighted) {
	@apply rounded-t;
}
[data-rehype-pretty-code-figure] :nth-last-child(1 of .line--highlighted) {
	@apply rounded-b;
}
[data-rehype-pretty-code-figure] .line-highlighted span {
	@apply relative;
}
[data-rehype-pretty-code-figure] .word--highlighted {
	@apply rounded bg-primary/20 border-primary;
}
[data-rehype-pretty-code-title] {
	@apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-[#333333] bg-[#1c1c1c];
}
[data-rehype-pretty-code-title] + pre {
	@apply mt-0 rounded-t-none border-t-0;
}
