@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 6.67%;
		--foreground: 120 29% 100%;
		--muted: 0 0% 8.63%;
		--muted-foreground: 120 10% 71%;
		--popover: 0 0% 15.69%;
		--popover-foreground: 0 0% 15.69%;
		--card: 0 0% 10.2%;
		--card-foreground: 0 0% 100%;
		--border: 0 4.35% 25.06%;
		--input: 0 0% 66.67%;
		--primary: 335.09 78.12% 48.8%;
		--primary-foreground: 0 0% 8.63%;
		--secondary: 0 0% 15.69%;
		--secondary-foreground: 0 0% 70.59%;
		--accent: 0 0% 15.69%;
		--accent-foreground: 0 0% 86.27%;
		--destructive: 0 88.86% 51.66%;
		--destructive-foreground: 63.4 0% 100%;
		--ring: 335.08 78.31% 48.82%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
