@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 226 38% 99%;
		--foreground: 226 61% 4%;
		--muted: 346 11% 86%;
		--muted-foreground: 346 6% 36%;
		--popover: 226 38% 99%;
		--popover-foreground: 226 61% 4%;
		--card: 226 38% 99%;
		--card-foreground: 226 61% 4%;
		--border: 226 5% 90%;
		--input: 226 5% 90%;
		--primary: 226 43% 67%;
		--primary-foreground: 226 43% 7%;
		--secondary: 346 43% 67%;
		--secondary-foreground: 346 43% 7%;
		--accent: 106 43% 67%;
		--accent-foreground: 106 43% 7%;
		--destructive: 6 81% 34%;
		--destructive-foreground: 6 81% 94%;
		--ring: 226 43% 67%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 226 54% 4%;
		--foreground: 226 18% 99%;
		--muted: 346 11% 14%;
		--muted-foreground: 346 6% 64%;
		--popover: 226 54% 4%;
		--popover-foreground: 226 18% 99%;
		--card: 226 54% 4%;
		--card-foreground: 226 18% 99%;
		--border: 226 5% 12%;
		--input: 226 5% 12%;
		--primary: 226 43% 67%;
		--primary-foreground: 226 43% 7%;
		--secondary: 346 43% 67%;
		--secondary-foreground: 346 43% 7%;
		--accent: 106 43% 67%;
		--accent-foreground: 106 43% 7%;
		--destructive: 6 81% 57%;
		--destructive-foreground: 0 0% 100%;
		--ring: 226 43% 67%;
	}
}

@layer base {
	html {
		@apply h-full;
	}
	* {
		@apply border-border;
	}
	body {
		@apply bg-background/80 text-foreground;
	}
}

.nav-link {
	@apply rounded-md px-6 py-2 hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none;
}

/* Post styles */

.prose .anchor {
	@apply absolute invisible no-underline;

	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

.anchor:hover {
	@apply visible;
}

.prose a {
	@apply transition-all text-primary duration-200 underline-offset-4;
}

.prose .anchor:after {
	@apply text-neutral-300 dark:text-neutral-700;
	content: "#";
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose pre {
	@apply border border-neutral-800;
}

.prose code {
	@apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono  border font-semibold;
}

.prose pre code {
	@apply bg-transparent;
	border: initial;
}

.prose img {
	/* Don't apply styles to next/image */
	@apply m-0;
}

.prose code::after,
.prose code::before {
	content: "";
}

.prose > :first-child {
	/* Override removing top margin, causing layout shift */
	margin-top: 1.25em !important;
	margin-bottom: 1.25em !important;
}

code[class*="language-"],
pre[class*="language-"] {
	@apply text-neutral-50;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.prose .tweet a {
	text-decoration: inherit;
	font-weight: inherit;
}

.prose .callout > p {
	margin: 0 !important;
}

[data-rehype-pretty-code-figure] code {
	@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
	counter-reset: line;
	box-decoration-break: clone;
}
[data-rehype-pretty-code-figure] [data-line] {
	@apply py-1 border-l-4 border-transparent;
}
[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 1rem;
	text-align: right;
	@apply text-muted-foreground;
}
[data-rehype-pretty-code-figure] .line--highlighted {
	@apply bg-primary/20 border-l-4 border-primary rounded;
}
[data-rehype-pretty-code-figure] .line-highlighted span {
	@apply relative;
}
[data-rehype-pretty-code-figure] .word--highlighted {
	@apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
	@apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-[#333333] bg-[#1c1c1c];
}
[data-rehype-pretty-code-title] + pre {
	@apply mt-0 rounded-t-none border-t-0;
}
